# dependencies
node_modules/
.node_modules/

# npm/yarn log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/
stats.html

# Third party licenses file
NOTICE

# artifacts
lib
dist
bin
artifacts

# misc
**/.DS_Store
*.tsbuildinfo
attachments
/*.csv
.e2e-credentials.json

# editor
**/.vs
**/.vscode
.idea
.run

# secrets
.env
.envrc

# allure report
allure-report
allure-results
