/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */
  --ifm-color-primary: #c39800;
  --ifm-color-primary-dark: #b08900;
  --ifm-color-primary-darker: #a68100;
  --ifm-color-primary-darkest: #896a00;
  --ifm-color-primary-light: #d6a700;
  --ifm-color-primary-lighter: #e0af00;
  --ifm-color-primary-lightest: #fdc600;
  --ifm-code-font-size: 95%;

  /* cybozu.com color */
  /*--ifm-color-primary: #217dbb;*/
  /*--ifm-color-primary-dark: #1e70a8;*/
  /*--ifm-color-primary-darker: #1c6a9f;*/
  /*--ifm-color-primary-darkest: #175783;*/
  /*--ifm-color-primary-light: #2489ce;*/
  /*--ifm-color-primary-lighter: #2690d7;*/
  /*--ifm-color-primary-lightest: #419edd;*/
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffbf00;
  --ifm-color-primary-dark: #e6ac00;
  --ifm-color-primary-darker: #d9a200;
  --ifm-color-primary-darkest: #b38600;
  --ifm-color-primary-light: #ffc51a;
  --ifm-color-primary-lighter: #ffc926;
  --ifm-color-primary-lightest: #ffd24d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Table colors in logging page */
table {
  .debug {
    background-color: limegreen;
  }
  .info {
    background-color: dodgerblue;
  }
  .warn {
    background-color: gold;
  }
  .error {
    background-color: orangered;
  }
  .fatal {
    background-color: orangered;
  }
  .included {
    background-color: lime;
  }
  .excluded {
    background-color: salmon;
  }
}
[data-theme='dark'] {
  table .included {
    background-color: green;
  }
  table .excluded {
    background-color: maroon;
  }
}
