name: build
on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  build:
    name: Node.js ubuntu-latest 18.x
    runs-on: ubuntu-latest
    steps:
      # setup ruby environment before running jonabc/setup-licensed
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby

      - uses: jonabc/setup-licensed@d6b3a6f7058c2b40c06d205e13e15c2418977566 # renovate: tag=v1.1.4
        with:
          version: "4.x"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm build:artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: artifacts/*
