name: build
on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  build:
    name: Node.js ubuntu-latest 18.x
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v6
        with:
          node-version: "18"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm build:all
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: artifacts/*

  build-website:
    name: Build website
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@3046833d9aacfd7745c5264b7f3af851c3e2a619 # v2

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v6
        with:
          node-version: "18"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm doc:build
