name: build
on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

jobs:
  build:
    name: Node.js ubuntu-latest 16.x
    runs-on: ubuntu-latest
    steps:
      - uses: jonabc/setup-licensed@d6b3a6f7058c2b40c06d205e13e15c2418977566 # renovate: tag=v1.1.4
        with:
          version: '3.x'
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm build:artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          path: artifacts/*
