name: build
on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  build:
    name: Build
    # ubuntu上でビルドしたmacOS向けの実行ファイルが正常に動作しないため、
    # macOSランナー上でビルドする
    # ref. https://github.com/yao-pkg/pkg/issues/183
    runs-on: macos-latest
    steps:
      - uses: Kesin11/actions-timeline@7c7e0821d38f27460f4a71ef874a1c8cf23602e4 # v2

      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm build:all
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          path: artifacts/*

  build-website:
    name: Build website
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@7c7e0821d38f27460f4a71ef874a1c8cf23602e4 # v2

      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - run: pnpm doc:build
