name: License

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  license-finder:
    name: License Finder

    runs-on: ubuntu-20.04

    steps:
      - name: Set up License Finder
        run: sudo gem install license_finder

      - name: Check out repository
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.5
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check licenses
        run: license_finder --decisions-file=license-finder-decisions.yml

  licensed:
    name: Licensed

    runs-on: ubuntu-latest

    steps:
      # setup ruby environment before running jonabc/setup-licensed
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby

      - name: Setup Licensed
        uses: jonabc/setup-licensed@d6b3a6f7058c2b40c06d205e13e15c2418977566 # renovate: tag=v1.1.4
        with:
          version: '4.x'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install pnpm
        run:  npm install -g pnpm@8.6.5

      - name: Install dependencies
        run:  pnpm install --frozen-lockfile

      - name: Check licenses
        run: |
          licensed cache
          licensed status
          licensed notices
