name: License

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  license-finder:
    name: License Finder

    runs-on: ubuntu-20.04

    steps:
      - name: Set up License Finder
        run: sudo gem install license_finder

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Node modules
        run: yarn install --frozen-lockfile

      - name: Check licenses
        run: license_finder --decisions-file=license-finder-decisions.yml

  licensed:
    name: Licensed

    runs-on: ubuntu-latest

    steps:
      - name: Setup Licensed
        uses: jonabc/setup-licensed@e9f9099fee78ac9e87628e937e231ca3a8efb360
        with:
          version: '3.x'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Node modules
        run: yarn install --frozen-lockfile

      - name: Check licenses
        run: |
          licensed cache
          licensed status
          licensed notices
