name: yamory

on:
  push:
    branches:
      - main
      - yamory-*
jobs:
  yamory:
    name: Yamory
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2

      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

        # To avoid setup-node cache failure.
        # ref. https://github.com/actions/setup-node/issues/1137
      - name: create pnpm cache directory
        run: mkdir -vp $(pnpm store path --silent)

      - name: download and validate Yamory script
        working-directory: /tmp
        run: |
          curl -sSf -L -o ./yamory-pnpm.sh https://localscanner.yamory.io/script/pnpm
          curl -sSf -L -o ./yamory-pnpm-sha512sum.txt \
            https://cli.yamory.io/yamory-app-library-scan-scripts/yamory-pnpm-sha512sum.txt
          sha512sum --check yamory-pnpm-sha512sum.txt
          chmod +x ./yamory-pnpm.sh
      - name: run Yamory
        run: /tmp/yamory-pnpm.sh
        env:
          CI: true
          PROJECT_GROUP_KEY: cli-kintone
          YAMORY_API_KEY: ${{ secrets.YAMORY_API_KEY }}
