name: yamory

on:
  push:
    branches:
      - main
      - yamory-*
      - debug/yamory-*
jobs:
  yamory:
    name: Yamory
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
      - name: download and validate Yamory script
        working-directory: /tmp
        run: |
          curl -sSf -L -o ./yamory-npm.sh https://localscanner.yamory.io/script/npm
          curl -sSf -L -o ./yamory-npm-sha512sum.txt \
            https://cli.yamory.io/yamory-app-library-scan-scripts/yamory-npm-sha512sum.txt
          sha512sum --check yamory-npm-sha512sum.txt
          chmod +x ./yamory-npm.sh
      - name: run Yamory
        run: /tmp/yamory-npm.sh
        env:
          CI: true
          PROJECT_GROUP_KEY: cli-kintone
          YAMORY_API_KEY: ${{ secrets.YAMORY_API_KEY }}
